<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,290},{115,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{115,119}</string>
            </dict>
            <key>exhaust_flame.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,46},{32,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{32,195}</string>
            </dict>
            <key>fireburst.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,354},{125,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>
            </dict>
            <key>glass_bulb.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,367},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>glass_bulb_robot.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,4},{181,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{181,178}</string>
            </dict>
            <key>monster_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,187},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>monster_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,258},{124,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{124,74}</string>
            </dict>
            <key>monster_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,186},{179,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{179,100}</string>
            </dict>
            <key>monster_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,236},{68,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{68,162}</string>
            </dict>
            <key>ms_blob_eye_closed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,426},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>ms_blob_eye_open2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,187},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>ms_blob_mouth_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,119},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>ms_blob_mouth_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,149},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>ms_blob_mouth_teeth.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,258},{68,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>ms_clouds0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,336},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,336},{56,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,379},{56,50}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,4},{34,38}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_monsterblob.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,187},{160,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{160,163}</string>
            </dict>
            <key>pumpkin_bomber.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,4},{228,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{228,113}</string>
            </dict>
            <key>robocod_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,290},{114,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{114,118}</string>
            </dict>
            <key>robocod_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,308},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>robocod_link.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,354},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>robot_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,4},{181,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{181,250}</string>
            </dict>
            <key>robot_lowerarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,119},{171,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{171,64}</string>
            </dict>
            <key>robot_upperarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,187},{165,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{165,64}</string>
            </dict>
            <key>roboto_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,412},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>slingerball.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,245},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>snake_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,361},{128,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,98}</string>
            </dict>
            <key>snake_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,255},{128,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>spaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{375,179}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{375,181}</string>
            </dict>
            <key>sprocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,463},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,402},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>monstersheet1.pvr</string>
        </dict>
    </dict>
</plist>
