<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DefenseTower-floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{284,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,34}}</string>
                <key>sourceSize</key>
                <string>{284,34}</string>
            </dict>
            <key>DefenseTower-stud.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,289},{152,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,28}}</string>
                <key>sourceSize</key>
                <string>{152,28}</string>
            </dict>
            <key>DefenseTower-wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,389},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>KingofBlobs_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,236},{203,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,211}}</string>
                <key>sourceSize</key>
                <string>{203,211}</string>
            </dict>
            <key>KingofBlobs_bodybu.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,82},{207,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,214}}</string>
                <key>sourceSize</key>
                <string>{207,214}</string>
            </dict>
            <key>KingofBlobs_eye_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,538},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>KingofBlobs_eye_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,355},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>KingofBlobs_mouth_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,483},{49,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,16}}</string>
                <key>sourceSize</key>
                <string>{49,16}</string>
            </dict>
            <key>KingofBlobs_mouth_neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,78},{47,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,14}}</string>
                <key>sourceSize</key>
                <string>{47,14}</string>
            </dict>
            <key>KingofBlobs_mouth_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,322},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>KingofBlobs_mouth_sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,439},{46,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,17}}</string>
                <key>sourceSize</key>
                <string>{46,17}</string>
            </dict>
            <key>KingofBlobs_mouth_teeth.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,333},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,50}}</string>
                <key>sourceSize</key>
                <string>{92,50}</string>
            </dict>
            <key>ShoveIt_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{310,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,160}}</string>
                <key>sourceSize</key>
                <string>{310,160}</string>
            </dict>
            <key>ShoveIt_corpsebody.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,0},{170,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>ShoveIt_corpsehead.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,305},{106,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{106,84}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>ShoveIt_corpselowerarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,290},{29,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,112}}</string>
                <key>sourceSize</key>
                <string>{29,112}</string>
            </dict>
            <key>ShoveIt_corpselowerleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{30,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,147}}</string>
                <key>sourceSize</key>
                <string>{30,147}</string>
            </dict>
            <key>ShoveIt_corpseupperbodypart.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,441},{27,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,103}}</string>
                <key>sourceSize</key>
                <string>{27,103}</string>
            </dict>
            <key>ShoveIt_piston.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{255,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,82}}</string>
                <key>sourceSize</key>
                <string>{257,82}</string>
            </dict>
            <key>ShoveIt_roof.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,439},{198,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,44}}</string>
                <key>sourceSize</key>
                <string>{198,44}</string>
            </dict>
            <key>ShoveIt_roofsupport.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,483},{25,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,179}}</string>
                <key>sourceSize</key>
                <string>{25,179}</string>
            </dict>
            <key>ShoveIt_scraper.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,34},{100,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,244}}</string>
                <key>sourceSize</key>
                <string>{100,244}</string>
            </dict>
            <key>ShoveIt_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,160},{148,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,145}}</string>
                <key>sourceSize</key>
                <string>{148,145}</string>
            </dict>
            <key>caterpillar_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,289},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>caterpillar_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,134},{207,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,199}}</string>
                <key>sourceSize</key>
                <string>{207,199}</string>
            </dict>
            <key>circ.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{114,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,118}}</string>
                <key>sourceSize</key>
                <string>{114,118}</string>
            </dict>
            <key>ms_clouds0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,202},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,266},{56,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,305},{56,50}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{56,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,100},{34,38}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{34,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>redrect.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,134},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>stepping_fucker_eye_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,34},{40,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,61}}</string>
                <key>sourceSize</key>
                <string>{40,61}</string>
            </dict>
            <key>stepping_fucker_eye_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,95},{40,39}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>stepping_fucker_mouth_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,82},{41,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>stepping_fucker_mouth_neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,485},{53,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,22}}</string>
                <key>sourceSize</key>
                <string>{53,22}</string>
            </dict>
            <key>stepping_fucker_mouth_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,134},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>stepping_fucker_mouth_sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,134},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>stepping_fucker_mouth_teeth.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,402},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>steppingfucker_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,78},{158,160}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>steppingfucker_leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{56,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,157}}</string>
                <key>sourceSize</key>
                <string>{56,157}</string>
            </dict>
            <key>steppingfucker_rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,508},{56,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,157}}</string>
                <key>sourceSize</key>
                <string>{56,157}</string>
            </dict>
            <key>steppingfucker_upperleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{144,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,44}}</string>
                <key>sourceSize</key>
                <string>{144,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>monstersheet5.pvr</string>
        </dict>
    </dict>
</plist>
