<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WalkingPigtail_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,481},{248,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,242}}</string>
                <key>sourceSize</key>
                <string>{248,242}</string>
            </dict>
            <key>WalkingPigtail_eyewheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,301},{158,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,161}}</string>
                <key>sourceSize</key>
                <string>{158,161}</string>
            </dict>
            <key>WalkingPigtail_legjoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,514},{188,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,104}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>WalkingPigtail_tailjoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,481},{107,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,33}}</string>
                <key>sourceSize</key>
                <string>{107,33}</string>
            </dict>
            <key>WalkingPigtail_tailpart.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,0},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>WalkingPigtail_tonguewheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,712},{74,70}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{74,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>WobblingBlob_eyeball.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,610},{199,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,198}}</string>
                <key>sourceSize</key>
                <string>{199,198}</string>
            </dict>
            <key>WobblingBlob_eyelid.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,724},{279,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,266}}</string>
                <key>sourceSize</key>
                <string>{279,266}</string>
            </dict>
            <key>WobblingBlob_joint.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,407},{317,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,48}}</string>
                <key>sourceSize</key>
                <string>{317,48}</string>
            </dict>
            <key>WobblingBlob_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,481},{110,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,113}}</string>
                <key>sourceSize</key>
                <string>{110,113}</string>
            </dict>
            <key>circ.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{114,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,118}}</string>
                <key>sourceSize</key>
                <string>{114,118}</string>
            </dict>
            <key>elephant_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{480,301}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,301}}</string>
                <key>sourceSize</key>
                <string>{486,301}</string>
            </dict>
            <key>elephant_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,301},{309,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,319}}</string>
                <key>sourceSize</key>
                <string>{309,319}</string>
            </dict>
            <key>elephant_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,459},{144,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,155}}</string>
                <key>sourceSize</key>
                <string>{144,155}</string>
            </dict>
            <key>elephant_teeth.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,603},{141,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,109}}</string>
                <key>sourceSize</key>
                <string>{141,109}</string>
            </dict>
            <key>elephant_trunk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,610},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>elephant_trunk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,712},{62,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>elephant_trunk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,360},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>elephant_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{279,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,268}}</string>
                <key>sourceSize</key>
                <string>{279,268}</string>
            </dict>
            <key>ms_clouds0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,774},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,55},{56,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,119},{56,50}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{56,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,610},{34,38}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{34,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muppetmotion_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{486,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,481}}</string>
                <key>sourceSize</key>
                <string>{486,481}</string>
            </dict>
            <key>muppetmotion_propeller.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,169},{54,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,191}}</string>
                <key>sourceSize</key>
                <string>{54,191}</string>
            </dict>
            <key>redrect.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,712},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monstersheet6.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9f06341ef139dad15123346829eed1d$</string>
            <key>textureFileName</key>
            <string>monstersheet6.pvr</string>
        </dict>
    </dict>
</plist>
