<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circ.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{114,118}</string>
            </dict>
            <key>ms_clouds0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,186},{56,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,118},{56,50}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,168},{34,38}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>redrect.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>monstersheet_dev.pvr</string>
        </dict>
    </dict>
</plist>
