<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Catapult_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{469,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,44}}</string>
                <key>sourceSize</key>
                <string>{469,44}</string>
            </dict>
            <key>Catapult_drivewheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,98},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Catapult_lever.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,0},{461,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,43}}</string>
                <key>sourceSize</key>
                <string>{461,43}</string>
            </dict>
            <key>Catapult_subframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,337},{137,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,162}}</string>
                <key>sourceSize</key>
                <string>{137,162}</string>
            </dict>
            <key>Catapult_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,203},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>Catapult_wheelstud.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{78,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,62}}</string>
                <key>sourceSize</key>
                <string>{78,62}</string>
            </dict>
            <key>Piston_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,655},{343,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,348}}</string>
                <key>sourceSize</key>
                <string>{343,348}</string>
            </dict>
            <key>Piston_engine.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,435},{203,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,206}}</string>
                <key>sourceSize</key>
                <string>{203,206}</string>
            </dict>
            <key>Piston_joint_dynamic.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,160},{201,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,38}}</string>
                <key>sourceSize</key>
                <string>{201,38}</string>
            </dict>
            <key>Piston_joint_static.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,337},{133,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,31}}</string>
                <key>sourceSize</key>
                <string>{133,31}</string>
            </dict>
            <key>Piston_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{54,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,188}}</string>
                <key>sourceSize</key>
                <string>{54,188}</string>
            </dict>
            <key>Piston_leg_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,435},{220,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,223}}</string>
                <key>sourceSize</key>
                <string>{220,223}</string>
            </dict>
            <key>Piston_leg_guide_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,655},{188,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,223}}</string>
                <key>sourceSize</key>
                <string>{188,223}</string>
            </dict>
            <key>Rhino_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,43},{442,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,294}}</string>
                <key>sourceSize</key>
                <string>{442,294}</string>
            </dict>
            <key>Rhino_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,201},{263,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,234}}</string>
                <key>sourceSize</key>
                <string>{263,234}</string>
            </dict>
            <key>Rhino_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>SlammerArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,44},{177,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,42}}</string>
                <key>sourceSize</key>
                <string>{177,42}</string>
            </dict>
            <key>SlammerFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,32},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>SlammerHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,254},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>SlammerHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,86},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>SlammerSpine.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,329},{81,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,145}}</string>
                <key>sourceSize</key>
                <string>{81,145}</string>
            </dict>
            <key>circ.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,87},{114,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,118}}</string>
                <key>sourceSize</key>
                <string>{114,118}</string>
            </dict>
            <key>jumper_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{175,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,177}}</string>
                <key>sourceSize</key>
                <string>{175,177}</string>
            </dict>
            <key>jumper_eye_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,160},{40,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>jumper_eye_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>jumper_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,44},{123,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,43}}</string>
                <key>sourceSize</key>
                <string>{123,43}</string>
            </dict>
            <key>jumper_joint.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,372},{283,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,31}}</string>
                <key>sourceSize</key>
                <string>{283,31}</string>
            </dict>
            <key>jumper_mouth_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,0},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>jumper_mouth_neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,43},{36,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,16}}</string>
                <key>sourceSize</key>
                <string>{36,16}</string>
            </dict>
            <key>jumper_mouth_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,302},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,24}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>jumper_mouth_sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,302},{83,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,27}}</string>
                <key>sourceSize</key>
                <string>{83,27}</string>
            </dict>
            <key>jumper_mouth_teeth.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,302},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,24}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>ms_clouds0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,86},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,337},{56,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,150},{56,50}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{56,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ms_clouds0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,86},{34,38}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{34,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>redrect.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,254},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>monstersheet4.pvr</string>
        </dict>
    </dict>
</plist>
