<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1023},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>e_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,725},{222,211}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,34},{222,211}}</string>
                <key>sourceSize</key>
                <string>{236,245}</string>
            </dict>
            <key>e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,341},{78,123}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,50},{78,123}}</string>
                <key>sourceSize</key>
                <string>{112,173}</string>
            </dict>
            <key>e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,953},{94,67}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,44},{94,67}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{353,139}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,110},{353,139}}</string>
                <key>sourceSize</key>
                <string>{563,301}</string>
            </dict>
            <key>e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,953},{64,56}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,64},{64,56}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>e_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,138},{197,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,140}}</string>
                <key>sourceSize</key>
                <string>{197,140}</string>
            </dict>
            <key>e_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,497},{222,211}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,34},{222,211}}</string>
                <key>sourceSize</key>
                <string>{236,245}</string>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,132}}</string>
                <key>sourceSize</key>
                <string>{1024,132}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,470},{107,107}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{107,107}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>ep2.pvr</string>
        </dict>
    </dict>
</plist>
