<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>calibration_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,4},{40,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{40,67}</string>
            </dict>
            <key>ffwd_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,180},{76,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>ffwd_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,180},{76,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>generic_btn_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,92},{189,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{189,40}</string>
            </dict>
            <key>generic_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,48},{189,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{189,40}</string>
            </dict>
            <key>generic_btn_green_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,264},{187,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{189,40}</string>
            </dict>
            <key>generic_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,4},{189,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{189,40}</string>
            </dict>
            <key>generic_btn_orange_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,136},{187,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{189,40}</string>
            </dict>
            <key>menu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,328},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>menu_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,416},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>reset_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,328},{80,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>reset_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,414},{80,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>resume_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,328},{80,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>resume_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,414},{80,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>sliding_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{202,320}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>swirl_painted.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,264},{96,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>swirl_painted_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,180},{99,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{99,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>gui_texture.pvr</string>
        </dict>
    </dict>
</plist>
